{% extends "base.html" %}

{% block content %}

<script>
        $(document).ready(function(){
            // Pre-populated initial data at page load
            var content_data = {{ content_data }};

            var refresh = function() {
                $.get("{{ url_prefix }}/mon/list_data/", function(data) {
                    content_data.mons_by_server = data;
                    $('.inlinesparkline').sparkline();
                    setTimeout(refresh, 5000);
                });
            };

            rivets.formatters.colored_up_in = function(mon){
                var result = "";
                if (mon.up) {
                    result += "<span style='color:#00bb00;'>up</span>";
                } else {
                    result += "<span style='color:#bb0000;'>down</span>";
                }

                result += ", ";

                if (mon.in) {
                    result += "<span style='color:#00bb00;'>in</span>";
                } else {
                    result += "<span style='color:#bb0000;'>out</span>";
                }

                return result;
            };

            rivets.formatters.sparkline_data = function(time_series) {
                result = "";
                for (var i = 1; i < time_series.length; ++i) {
                    var delta_v = time_series[i][1] - time_series[i - 1][1];
                    var delta_t = time_series[i][0] - time_series[i - 1][0];
                    result += (delta_v / delta_t + ",");
                }
                return result;
            };

            rivets.bind($("div#content"), content_data);
            $('.inlinesparkline').sparkline();
            setTimeout(refresh, 5000);
        });
</script>

<section class="content-header">
    <h1>
        Monitor daemons
    </h1>
</section>
<br>
<br>

<section class="content" style="position: absolute; top: 10%">

    <div style="display: flex;">General<hr style="width: 90vw; margin-left: 0; margin-right: 0"></div>
    <div class="cardview">
        <div class="card">
            <div class="card-header">Name</div>
            <div class="card-main">
                <i class="fa-2x fa fa-tag" aria-hidden="true"></i>
                <div class="main-description">a</div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Rank</div>
            <div class="card-main">
                <i class="fa fa-trophy fa-2x" aria-hidden="true"></i>
                <div class="main-description">0</div>
            </div>
        </div>

        <div class="card" style="width: 9vw">
            <div class="card-header">Election Epoch</div>
            <div class="card-main">
                <i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>
                <div class="main-description">3</div>
            </div>
        </div>

        <div class="card" style="width: 6vw">
            <div class="card-header">State</div>
            <div class="card-main">
                <i class="fa fa-university fa-2x" aria-hidden="true"></i>
                <div class="main-description">Leader</div>
            </div>
        </div>

        <div class="card" style="width: 11vw">
            <div class="card-header">Extra Probe Peers</div>
            <div class="card-main">
                <i class="fa fa-caret-square-o-down fa-2x" aria-hidden="true"></i>
                <div class="main-description">None</div>
            </div>
        </div>

        <div class="card" style="width: 6vw">
            <div class="card-header">Quorum</div>
            <div class="card-main">
                <i class="fa fa-superpowers fa-2x" aria-hidden="true"></i>
                <div class="main-description">0</div>
            </div>
        </div>

        <div class="card" style="width: 9vw">
            <div class="card-header">Sync Provider</div>
            <div class="card-main">
                <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
                <div class="main-description">0</div>
            </div>
        </div>

        <div class="card" style="width: 11vw">
            <div class="card-header">Outside Quorum</div>
            <div class="card-main">
                <i class="fa fa-outdent fa-2x" aria-hidden="true"></i>
                <div class="main-description">0</div>
            </div>
        </div>

    </div>
    <div class="subcolsview">
        <div class="subcols">
            <div style="display: flex;">Features<hr style="width: 17vw; margin-left: 0; margin-right: 0"></div>
            <div class="cardview-features">
                <div class="card" style="width: 17vw">
                    <div class="card-header">Features</div>
                    <div class="card-main">
                        <i class="fa fa-puzzle-piece fa-3x" aria-hidden="true"></i>
                        <div class="rows main-description">
                                <div class="faction">
                                    <b>quorum_con</b><br>
                                    230524<br>
                                    484480<br>
                                    671739
                                </div>
                                <div class="faction">
                                    <b>required_con</b><br>
                                    153140<br>
                                    804420<br>
                                    911104
                                </div>
                        </div>
                        <div class="rows main-description">
                                <div class="faction">
                                    <b>quorum_mon</b><br>
                                    Kraken<br>
                                    Luminous<br>
                                    Mimic
                                </div>
                                <div class="faction">
                                    <b>required_mon</b><br>
                                    Kraken<br>
                                    Luminous<br>
                                    Mimic
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subcols">
            <div style="display: flex;">Feature Map<hr style="width: 67vw; margin-left: 0; margin-right: 0;"></div>
            <div class="cardview-features">
                <div class="card" style="width: 20vw">
                    <div class="card-header">Client</div>
                    <div class="card-main">
                        <i class="fa fa-id-badge fa-3x" aria-hidden="true"></i>
                        <div class="rows main-description">
                            <div class="faction">
                                <b>Release</b><br>
                                Luminous<br>
                            </div>
                            <div class="faction">
                                <b>Num</b><br>
                                3
                            </div>
                            <div class="faction">
                                <b>Features</b><br>
                                0x1ffddff8fea4fffb
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 20vw">
                    <div class="card-header">Monitor</div>
                    <div class="card-main">
                        <i class="fa fa-id-badge fa-3x" aria-hidden="true"></i>
                        <div class="rows main-description">
                            <div class="faction">
                                <b>Release</b><br>
                                Luminous<br>
                            </div>
                            <div class="faction">
                                <b>Num</b><br>
                                1
                            </div>
                            <div class="faction">
                                <b>Features</b><br>
                                0x1ffddff8fea4fffb
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardview-features">
                <div class="card" style="width: 20vw">
                    <div class="card-header">OSD</div>
                    <div class="card-main">
                        <i class="fa fa-id-badge fa-3x" aria-hidden="true"></i>
                        <div class="rows main-description">
                            <div class="faction">
                                <b>Release</b><br>
                                Luminous<br>
                            </div>
                            <div class="faction">
                                <b>Num</b><br>
                                3
                            </div>
                            <div class="faction">
                                <b>Features</b><br>
                                0x1ffddff8fea4fffb
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
    </div>

</section>
<!-- /.content -->

{% endblock %}